.cell-detail {
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  color: #fff;
}

.cell-detail:nth-child(even) {
  background-color: #004d00;
}

.cell-detail:nth-child(odd) {
  background-color: #022b02;
}

.cell-detail h2 {
  display: inline;
}

.data {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 14px;
}

.city-sub {
  width: 100%;
}

.city-main img {
  width: 150px;
}

.city-main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #267c26;
}

.city-main i {
  margin: 12px;
  font-size: 30px;
  color: #fff;
}

.city-main div {
  display: flex;
  width: 100%;
  height: 150px;
  background-color: #267c26;
  margin: 0 12px;
  align-items: center;
  justify-content: space-around;
}

.city-main h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: #fff;
}
