.container {
    width: 100%;
    height: 100vh;
    background-color: brown;
}

.main-area {
    width: 100%;
    height: 30%;
    background-color: aqua;
}

.sub-area {
    width: 100%;
    height: 70vh;
    background-color: blueviolet;
}

.sub-row {
    width: 100%;
    height: 30%;
    background-color: antiquewhite;
    border: black solid 2px;
    display: flex;
}

.cell {
    width: 50%;
    height: 100%;
    border: purple solid 2px;
}